html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.header{
    height: 950px;
    text-align: center;
    position: relative;
}
.header:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    z-index: -1;
    background: url(/src/img/1619053022_27-phonoteka_org-p-zadnii-fon-dlya-fotoshopa-goroda-28.jpg);
    filter:blur(3px) ;
}
.center_logo{
    display: block;
    border:10px solid white;
    height: 200px;
    width: 200px;
    margin: 200px auto 0 auto;
    transform: translate(-50,-50);
    text-align: center;
}
.logo_title{
    padding-top:10px;
    color:white;
}
.logo_img{
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
.nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.nav_item_but{
    width: 50px;
    height: 50px;
    background-color:rgba(48, 109, 167, 0.767);
    display:none;
    padding:0 ;
}
li{
    display: inline-block;
}
.nav_item{
    margin-left:30px ;
    margin-right: 50px;
    
}
.nav_link{
    text-decoration: none;
    color:white;
}
.nav_img{
    height: 3px;
    width: 20px;
    background-color:rgb(255, 255, 255);
    position: relative;
    transition: 0.7s;
}
.nav_img:before{
    content:"";
    display: block;
    height: 3px;
    width: 20px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    top:7px;
    transform-origin: 50% 50%;
    transition: 0.7s;
}
.nav_img:after{
    content:"";
    display: block;
    height: 3px;
    width: 20px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    top:-7px;
    transform-origin: 50% 50%;
    transition: 0.7s;
}
button{
    font-size:20px;
    padding: 20px 15px ;
    border:none;
    border-radius: 50%;
    outline:none;
    cursor: pointer;
}
.logo_title_bot{
    color:white;
}
.arrow_bot{
    position: absolute;
    bottom: 30px;
    left:49%;
    height: 50px;
    width: 50px;
    transition: 1s;
}
.arrow_bot:hover{
    background-color:rgba(27, 95, 158, 0.767);
    border-radius: 50%;
    
}
.arrow_bot:hover .arrow_img{
    animation:none;
}
.arrow_img{
    width:50px;
    animation:slide 2s 0.5s infinite alternate;
    
}
@keyframes slide{
    from{
        transform:translate(0,-50%)
    }
    to{
        transform:translate(0)
    }
}
@media (max-width:1200px){
    .nav_item_list{
        display: none;
    }
    .nav_item_but.active .nav_img:before{
        transform:translate(-10px,-7px) rotate(45deg) scale(1.2);
        
        
    }
    .nav_item_but.active .nav_img:after{
        transform:translate(-10px,7px) rotate(-45deg) scale(1.2);
        
    }
    .nav_item_but.active .nav_img{
        width: 0;
        height: 0;
    }
    
    .nav_item_list.active{
        display: flex;
        position: fixed;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        width:auto;
        height: auto;
        background-color:rgba(255, 255, 255, 0.986);
        justify-content: center;
        align-items:center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        z-index: 10;
    }
    .nav_item_list.active .nav_item{
        margin-bottom: 30px;
    }
    .nav_item_list.active .nav_link{
        font-size: 30px;
    }
    .nav_item_but{
        display: flex;
        margin-right: 30px;
        z-index: 10;
        justify-content: center;
        align-items:center;
    }
    .nav_item_but.active{
        
        position: relative;
        z-index: 10;
    }
    .nav_item_list.active .nav_link{
        color: #5f6cd9;
    }
    .nav_item.active::before{
        content:"+";
        color: #5f6cd9;
        vertical-align:baseline;
        font-size: 35px;
        padding-right:40px;
    }
    .nav_item.active::before{
        content:"+";
        color: #5f6cd9;
        vertical-align:baseline;
        font-size: 35px;
        padding-right:40px;
    }
    .nav_item.active::after{
        content:"+";
        color: #5f6cd9;
        vertical-align:baseline;
        font-size: 35px;
        padding-left:40px;
    }
}